<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" type="text/css" href="styles.css")
    body
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&amp;subset=latin-ext")
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,600&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext")

        table.layout
            tr
                td.blank.blank_default
                    div.blank__inner
                        div.blank__header
                            img(src="../i/logo.png" width="110" height="24")
                        div.blank__body
                            block body
            tr
                td.blank.blank_dark
                    div.blank__inner
                        block data
                        div.contacts
                            | This email was sent to you as a customer of <a href="https://eloboss.net/">eloboss.net</a>
                            br
                            | Using our services you automatically agree to the <a href="https://eloboss.net/terms-and-conditions">Terms and Conditions</a>
                            br
                            br
                            | © Copyrights Eloboss 2022. All rights reserved.
