// Tip 1: use (attr!="<%- data.blabla %>") for disable symbols escaping(otherwise will be "&lt;%= data.blabla %&gt;")

mixin purchaseInfo()
    div.dataBlock
        div.dataBlock__header Purchase Data
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__label ID
            div.dataBlock__value <%- data.purchase.id %>
        div.dataBlock__row
            div.dataBlock__label CREATED AT
            div.dataBlock__value <%- data.purchase.createDate %>
        div.dataBlock__row
            div.dataBlock__label STATUS
            div.dataBlock__value <%- data.purchase.status %>
        div.dataBlock__row
            div.dataBlock__label NOTES
            div.dataBlock__value <%- data.booster.login %>

mixin paymentData(isPaid)
    div.dataBlock
        div.dataBlock__header Payment Data
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__label TOTAL PRICE
            div.dataBlock__value <%- data.payment.price %>&thinsp;<%- data.payment.valuta %>
        div.dataBlock__row
            div.dataBlock__label PROMOCODE
            div.dataBlock__value <%- data.payment.promocode %>
        div.dataBlock__row
            div.dataBlock__label PAYMENT STATUS
            if isPaid
                div.dataBlock__value(style="color:#219653") Paid
            else
                div.dataBlock__value(style="color:#EB5757") Not paid
        <% if (data.payment.url) { %>
            div.dataBlock__hr
            div.dataBlock__row
                div.dataBlock__value Pay anytime with Stripe and Coinbase
            div.dataBlock__row
                div.dataBlock__value
                    a.button.button_style_violet(href!="<%- data.payment.url %>") Pay online
        <% } %>

mixin boostInfoTable()
    table
        tr
            td(width="1%" valign="top")
                div.dataBlock__label CURRENT
                div.dataBlock__value <%- data.boost.current.rank %>
            td.boost__arrow(valign="middle" rowspan="2")
                img.boost__rank(src="../i/arrow.png" width="38" height="26")
            td(width="1%" valign="top")
                div.dataBlock__label ACTUAL
                div.dataBlock__value <%- data.boost.actual.rank %>
            td.boost__arrow(valign="middle" rowspan="2")
                img(src="../i/arrow.png" width="38" height="26")
            td(width="1%" valign="top")
                div.dataBlock__label DESIRED
                div.dataBlock__value <%- data.boost.desired.rank %>
        tr
            td
                img(src!="<%- data.boost.current.img %>" width="75" height="30")
            td
                img.boost__rank(src!="<%- data.boost.actual.img %>" width="75" height="30")
            td
                img.boost__rank(src!="<%- data.boost.desired.img %>" width="75" height="30")

mixin boostInfo()
    div.dataBlock.boost
        div.dataBlock__header Order Details
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__label BOOST TYPE
            div.dataBlock__value <%- data.boost.type %>
        div.dataBlock__row
            div.dataBlock__label ADDITIONALS
            div.dataBlock__value <%- data.boost.additionals %>
        div.dataBlock__hr
        div.dataBlock__row
            +boostInfoTable()

mixin accountInfo()
    div.dataBlock.boost
        div.dataBlock__header Order Details
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__label ID
            div.dataBlock__value <%- data.gds.id %>
        div.dataBlock__row
            div.dataBlock__label TITLE
            div.dataBlock__value <%- data.gds.title %>
        div.dataBlock__row
            div.dataBlock__label DESCRIPTION
            div.dataBlock__value <%- data.gds.description %>
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__label ACCOUNT DETAILS
            div.dataBlock__value We've checked your new account, it's completely ready to use!
        div.dataBlock__row
            div.dataBlock__value
                div.credentials.credentials_dark
                    | login: <%- data.account.login %>; password: <%- data.account.password %>
