extends ./_layout

block body
    .blank__title Your brand new account!
    | Immediately re-attach it to yourself by changing your new account email and all relevant passwords.
    br
    br
    div.dataBlock
        div.dataBlock__header ACCOUNT DETAILS
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__value We've checked your new account, it's completely ready to use!
        div.dataBlock__row
            div.dataBlock__value
                div.credentials.credentials_light
                    | login: <%- data.account.login %>; password: <%- data.account.password %>
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__value
                a.button.button_style_violet(href!="<%- data.purchase.url %>") To the purchase

block data
    include ./_mixins

    +purchaseInfo()
    +paymentData()
    +accountInfo()
