extends ./_layout

block body
    .blank__title Booster entered the chat room
    | Wow, he's already waiting for your questions, instructions, or suggestions.
    br
    a.button(href!="<%- data.button.url %>") To the purchase

block data
    include ./_mixins

    +purchaseInfo()
    +paymentData()
    +boostInfo()
