extends ./_layout

block body
    .blank__title Don't miss the first message
    | It's already in the chat on your order page, answer it
    br
    br
    div.dataBlock
        div.dataBlock__header Chat
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__label Booster <%- data.booster.login %>
            div.dataBlock__value.dataBlock__value_longtext <%- data.chat.message %>
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__value
                a.button.button_style_violet(href!="<%- data.chat.url %>") To the chat

block data
    include ./_mixins

    +purchaseInfo()
    +paymentData()
    +boostInfo()
