extends ./_layout

block body
    .blank__title Message long unanswered
    | Don't delay in answering, because the progress of your order may depend on it, answer now
    br
    br
    div.dataBlock
        div.dataBlock__header Chat
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__label Booster <%- data.booster.login %>
            div.dataBlock__value.dataBlock__value_longtext <%- data.chat.message %>
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__value
                a.button.button_style_violet(href!="<%- data.chat.url %>") To the chat

block data
    include ./_mixins

    +purchaseInfo()
    +paymentData()
    +boostInfo()
