extends ./_layout

block body
    .blank__title Your Eloboss account was successfully created
    | You are one step away from all the features of Eloboss personal account, try them out now!
    br
    a.button(href!="<%- data.button.url %>") Sign in

block data
    div.dataBlock.credentials
        div.dataBlock__row
            span.dataBlock__label LOGIN
            span.dataBlock__value <%- data.user.login %>
        div.dataBlock__row
            span.dataBlock__label PASSWORD
            span.dataBlock__value <%- data.user.password %>
