extends ./_layout

block body
    .blank__title Verify your Eloboss account
    | Using the code below. Simply copy and paste it on the email verification page.
    br
    a.button(href!="<%- data.button.url %>") Code: <b><%- data.button.text %></b>
