extends ./_layout

block body
    .blank__title <%- data.user.name %>, we have completed your order
    | Thank you for trusting us, we hope you will come back and use our services again. If you liked everything, could you please leave feedback on our services by clicking the button below? This will support our company and increase our customers' confidence in us, thank you.
    br
    a.button(href!="<%- data.button.url %>") Review us

block data
    include ./_mixins

    +purchaseInfo()
    +paymentData()
    +boostInfo()
