extends ./_layout

block body
    .blank__title <%- data.user.name %>, thank you for your order number #<%- data.purchase.id %>
    | We have already prepared a page in your personal area, where you can manage your schedule, chat with the booster, and share your account details securely.
    br
    a.button(href!="<%- data.purchase.url %>") To the purchase

block data
    include ./_mixins

    +purchaseInfo()
    +paymentData()
    +boostInfo()
