extends ./_layout

block body
    .blank__title We remember your order
    | However, it was not paid for. You can pay using the button below, we are fully prepared to proceed with your order right now!
    br
    a.button(href!="<%- data.purchase.url %>") To the payment

block data
    include ./_mixins

    +purchaseInfo()
    +paymentData()
    +boostInfo()
