extends ./_layout

block body
    .blank__title We changed your order status
    | The order number #<%- data.purchase.id %> has been updated, more details are on the purchase page.
    br
    br
    div.dataBlock
        div.dataBlock__header Purchase status
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__label NEW STATUS
            div.dataBlock__value <%- data.purchase.status %>
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__value
                a.button.button_style_violet(href!="<%- data.purchase.url %>") To the purchase

block data
    include ./_mixins

    +purchaseInfo()
    +paymentData()
    +boostInfo()
