extends ./_layout

block body
    include ./_mixins

    .blank__title There's progress on your order
    | The current rating of the order number #<%- data.purchase.id %> has been updated, more details are on the purchase page.
    br
    br
    div.dataBlock
        div.dataBlock__header Boosting status
        div.dataBlock__hr
        div.dataBlock__row
            +boostInfoTable()
        div.dataBlock__hr
        div.dataBlock__row
            div.dataBlock__value
                a.button.button_style_violet(href!="<%- data.purchase.url %>") To the purchase

block data
    +purchaseInfo()
    +paymentData()
    +boostInfo()
