extends ./_layout

block body
    .blank__title Restore your Eloboss account
    | Using the code below. Simply copy and paste it on the account recovery page.
    br
    a.button(href!="<%- data.button.url %>") Code: <b><%- data.button.text %></b>
