body, .layout {
    width: 100%;
    min-width: 520px;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%; /* fix mobile safari font size growing */
}

.layout {
    border-collapse: collapse;
    border-spacing: 0;
}

.blank_default {
    background: #6D00F5 url(../i/bg.png) repeat;
    padding: 40px 0 44px;
}

.blank_dark {
    background: #191a2e;
    padding: 32px 0 44px;
}

.blank__inner {
    width: 480px;
    margin: 0 auto;
    padding: 0 20px;
}

.blank__header {
    padding: 0 0 24px;
}

.blank__header img {
    vertical-align: top;
}

.blank__body {
    font: 400 16px/20px Roboto, Helvetica, Arial;
    color: #fff;
}

.blank__title {
    font: 600 24px/24px Montserrat, Helvetica, Arial;
    padding: 0 0 12px;
}

.button {
    background-color: #fff;
    border-radius: 5px;
    min-width: 100px;
    margin: 16px 0 0;
    padding: 0 30px;
    font: 300 16px/34px Roboto, Helvetica, Arial;
    color: #242242;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button_style_violet {
    background-color: #5b25ec;
    color: #fff;
}

.button b {
    font-weight: 400;
    color: #6d00f5;
}

.dataBlock {
    border: 2px solid #232540;
    border-radius: 5px;
    background: #1E1F36;
    margin: 0 0 12px;
    padding: 24px;
}

.dataBlock__header {
    font: 500 18px/18px Roboto, Helvetica, Arial;
    color: #fff;
}

.dataBlock__hr {
    background: #454763;
    height: 1px;
    margin: 12px 0;
}

.dataBlock__row:nth-child(n+2) {
    margin: 12px 0 0;
}

.dataBlock__label {
    margin: 0 0 8px;
    font: 500 14px/14px Roboto, Helvetica, Arial;
    color: #8F97DD;
}

.credentials .dataBlock__label {
    width: 144px;
    margin: 0;
    font: 500 14px/14px Montserrat, Helvetica, Arial;
    display: inline-block;
    text-transform: uppercase;
}

.dataBlock__value {
    font: 300 16px/16px Roboto, Helvetica, Arial;
    color: #fff;
}

.dataBlock__value_longtext {
    line-height: 1.4;
}

.dataBlock__value .button {
    margin: 0;
}

.boost table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.boost img {
    vertical-align: top;
}

.boost__rank {
    margin: 8px 0 0;
}

.boost__arrow {
    min-width: 68px;
    text-align: center;
}

.boost .dataBlock__value {
    font-size: 14px;
    line-height: 17px;
}

.contacts {
    font: 300 14px/20px Roboto, Helvetica, Arial;
    color: #fff;
}

.contacts:nth-child(n+2) {
    margin-top: 40px;
}

.contacts a {
    color: #fff !important;
    text-decoration: underline;
}

.credentials {
    border-radius: 5px;
    padding: 16px;
    font: 300 14px/14px Roboto, Helvetica, Arial;
}

.credentials_light {
    background: #8F97DD;
    color: #1E1F36;
}

.credentials_dark {
    border: 1px solid #454763;
    color: #fff;
}
